@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

body {
  background-color: rgb(232, 253, 255);
}
.write-head {
  font-family: "Roboto Mono", monospace;
}

.form-label {
  font-family: "Roboto Mono", monospace;
}

.form-card {
  margin: 30px;
  font-family: "Roboto Mono", monospace;
  width: 70vw;
  border: 2px solid rgb(255, 129, 129);
  border-radius: 20px;
}

.form-button {
  background-color: white;
  width: 120px;
  font-family: "Roboto Mono", monospace;
  border: 1px solid black;
  padding: 2px;
  border-radius: 10px;
}

.form-button:hover {
  background-color: #a9ebff;
  width: 130px;
  cursor: pointer;
}

.hide-button {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 2px;
  width: 40px;
  border-radius: 10px;
}

.hide-button:hover {
  background-color: #a9ebff;
  cursor: pointer;
}
.top-form {
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
}

.helper {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: -50px;
}

.input {
  width: 200px;
}
.inputForm {
  display: flex;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 500px;
}

.need-a-hand {
  display: flex;
  justify-content: flex-end;
}

.lyric-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-title-input {
  width: 35vw;
  margin-bottom: 1rem;
  height: 2rem;
  font-size: 200%;
  text-align: center;
}

.artist-input {
  width: 25vw;
  margin-bottom: 1rem;
  height: 1.7rem;
  font-size: 200%;
  text-align: center;
}

.lyric-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 47vw;
  margin-bottom: 0.5rem;
  margin: auto;
}

.lyric-row-input {
  width: 47vw;
  height: 1.5rem;
  margin-bottom: 0.5rem;
}

.dragger {
  border: 1px solid black;
  margin: auto;
  margin-right: 0rem;
  border-radius: 2px;
}

.clear-line-button {
  height: 1.5rem;
}

.lyric-form-section {
  display: inline-block;
}

.add-row-button {
  width: 80px;
  height: 40px;
  border-radius: 3px;
}

.suggestions {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
}

.suggested {
  margin: 0.5rem;
}

.suggested:hover {
  cursor: pointer;
}

.word-data {
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  box-shadow: 5px 5px 5px black;
}

.word-data:hover {
  cursor: pointer;
}

.word-section {
  background-color: rgb(207, 186, 240);
  display: flex;
  justify-content: space-around;
}

.definition-section {
  background-color: rgb(186, 218, 240);
  display: flex;
  justify-content: space-around;
}

.synonym-section {
  background-color: rgb(186, 240, 210);
  display: flex;
  justify-content: center;
}

.syllables-section {
  background-color: rgb(240, 239, 186);
  display: flex;
  justify-content: space-around;
}

.frequency-section {
  background-color: rgb(240, 221, 186);
  display: flex;
  justify-content: space-around;
}

.pronunciation-section {
  background-color: rgb(255, 177, 177);
  display: flex;
  justify-content: space-around;
}

.synonym {
  margin: 1.5rem;
}

.synonyms {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.save-button {
  width: 120px;
  font-family: "Roboto Mono", monospace;
  border: 1px solid black;
  padding: 2px;
  border-radius: 10px;
  background-color: white;
  margin: 1rem;
  text-align: center;
}

.save-button:hover {
  width: 130px;
  background-color: #a9ebff;
  cursor: pointer;
}

.lyric-top {
  display: flex;
}

.row-number {
  margin: auto;
}
