@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(255, 249, 249);
  border-radius: 10px;
  width: 50vw;
  height: 110%;
}

.song-search {
  font-family: "Roboto Mono", monospace;
  margin-top: 20px;
}

.lyrics {
  display: flex;
  flex-direction: column;
}

.song-page {
  display: inline-block;
  justify-content: center;
}

.lyric-row {
  margin: auto;
  width: 100%;
}

.save-favorite-button {
  width: 200px;
}

.clear-button {
  width: 200px;
}

.saved {
  display: flex;
  justify-content: flex-start;
}
