@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

.results {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(255, 249, 249);
  border-radius: 10px;
  width: 300px;
}

.song-search {
  font-family: "Roboto Mono", monospace;
  margin-top: 20px;
}

.lyrics {
  display: flex;
  justify-content: center;
}

.song-page {
  display: inline-block;
  justify-content: center;
}
